= form_for(@url) do |f|
  - if @url.errors.any?
    = render 'error'
  = f.text_field :original_url, placeholder: "Paste original link"
  = f.text_field :short_url, placeholder: "Customize shortened url?"
  = f.submit "Beer me", :class => "radius button"



