.row.devise_form
  .large-7.large-centered.columns
    %h2 sign in
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .row
        .large-12.small-12.columns
          = f.label :email
          = f.email_field :email, autofocus: true
      .row
        .large-8.small-12.columns
          = f.label :password
          = f.password_field :password
        .large-4.small-12.columns
          = f.submit "Sign in", class: 'button radius small-12 devise_submit'
      - if devise_mapping.rememberable?
        .hide
          = f.check_box :remember_me, checked: true
          = f.label :remember_me
      .devise_links
        = render "devise/shared/links"
