!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ]    <html class="ie7" lang="en">
/[if IE 8 ]    <html class="ie8" lang="en">
/[if (gte IE 9)|!(IE)] <!--> <html lang="en">
%html{ 'ng-app' => 'Hpstrly'}
  %head
    %meta{ :charset => "utf-8" }
    -# Uncomment to make IE8 render like IE7
    -# meta http-equiv="X-UA-Compatible" content="IE=7"

    -# Set the viewport width to device width for mobile
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700"
    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    =# asset_path             "flash/ZeroClipboard.swf"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"
    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "google_analytics" #if Rails.env.production?  # Commented out for testing
    = favicon_link_tag       "/favicon.ico"
    = csrf_meta_tags
  %body
    .row
      .large-12.columns
        = render 'layouts/header'

        = yield

        = render 'layouts/footer'
    = javascript_include_tag "application"
    = debug(params) if Rails.env.development?
